nav li {
	display: inline;
}

nav {
	font-size: 30px;
	margin-right: 10px;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.intro p {
	font-size: 30px;
	text-align: center;
}

.intro h1 {
	font-size: 40px;
	text-align: center;
	color: #2d0503;
}

.image {
	cursor: pointer;
}

.logo {
	cursor: pointer;
}

.image p {
	font-size: 30px;
	text-align: center;
}