nav li {
	display: inline;
}

nav {
	font-size: 30px;
	margin-right: 10px;
}

nav a {
	color: #e23a24;
	text-decoration: none;
	border: 3px solid Red;
	border-radius: 5px;
	background-color: White;
	margin: 10px;
	padding: 10px;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.intro p {
	font-size: 30px;
	text-align: center;
	background-color: #ffffff;
	border-style: solid;
	border-color: #d84817;
}

.intro h1 {
	font-size: 40px;
	text-align: center;
	color: #e23a24;
}

.image1, .image2, .image3 {
	cursor: pointer;
}

.image1 a, .image2 a, .image3 a {
	font-size: 30px;
	text-decoration: none;
	color: #e23a24;
}

.image1 p, .image2 p, .image3 p {
	text-align: center;
}
.logo {
	cursor: pointer;
}

body {
	background-image: url(https://images2.alphacoders.com/642/642944.jpg);
}

.characters {
	display: flex;
	flex-wrap: wrap;
}

.pic1 a, .pic2 a, .pic3 p, .pic4 p, .pic5 p, .pic6 p, .pic7 p, .pic8 p, .pic9 p {	
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: #e23a24;
}

.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8, .pic9 {
	cursor: pointer;
}

.profile {
	float: right;
}

.title p {
	font-size: 50px;
	text-align: center;
	color: #a80505;
}

.info p, .info2 p, .info3 p, .info4 p {
	font-size: 28px;
	color: #e23a24;
}

.title2 p, .title3 p, .title4 p {
	font-size: 50px;
	text-align: center;
	color: #a80505;
	cursor: pointer;
}

.info2 h1, .info3 h1, .info4 h1 {
	color: #bc9b07;
}