nav li {
	display: inline;
}

nav {
	font-size: 25px;
	color: #2d0503;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 3px;
}

.intro p {
	font-size: 30px;
}

.intro h1 {
	font-size: 40px
}

.intro {
	text-align: center;
}